@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.container {
    max-width: 1440px;
    margin: 0 auto;
    /* border: 1px solid blue; */
    padding: 0px 135px;
}

body {
    font-family: 'Mulish', sans-serif;
}

.extraBold {
    font-weight: 800;
    font-size: 2.2rem;
}

a {
    text-decoration: none;
}

.section_heading {
    font-size: 2.8rem;
    font-weight: 800;
}

.primary_button {
    /* width: 174px; */
    /* height: 52px; */
    padding: 14px 35px;
    text-align: center;
    border-radius: 8px;
    background: #FF5400 !important;
    color: #fff;
    font-weight: 800;
    font-size: 20p1.1rem;
    border: none;
    /* margin-top: 16px; */
}

.colorful_text {
    color: #FF5400;
}





/* header section styles start */
header {
    /* border: 1px solid tomato; */
}

.container>nav {
    display: flex;
    align-items: center;
    /* border: 1px solid brown; */
}


.container>nav .logo,
.container>nav .menu {
    width: 50%;
    /* border: 1px solid green; */
}

.container>nav .logo {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid red; */

}

.menu>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid blue; */
}

.menu>ul li {
    display: flex;
    /* align-items: center; */
    list-style-type: none;
    /* border: 1px solid blue; */
}

.menu>ul li a {
    font-size: 1.2rem;
    color: #424247;
}

#hidden {
    display: none;
}

/* banner section styles here */
.banner {
    margin-top: 60px;
    width: 100%;
    height: 500px;
    /* border: 1px solid green; */
    background: url('../Images/Group\ 13\ \(1\)\ \(1\).png'), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    ;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 10px;
}

.banner>h1 {
    font-size: 4rem;
    color: #fff;
    font-weight: 800;
    padding-top: 8%;
    /* border: 1px solid green; */
}

.visible {
    display: block;
}

.banner>p {
    padding: 0% 10%;
    text-align: center;
    color: #ffff;
    /* border: 1px solid goldenrod; */
    line-height: 26px;
}

.inputDiv {
    display: flex;
    margin: 0% 15%;
    /* border: 1px solid  ite; */
    gap: 20px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 48px;
}

.inputDiv>div {
    height: 52px;
    background-color: #fff;
    width: 174px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    border-radius: 10px;
    padding: 0px 20px;
}

.inputDiv>div input {
    width: 90%;
    border: none;
}

.inputDiv>div input:focus {
    outline: none;
}

.inputDiv>div a {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
}

#find_btn {
    background-color: #FF5400;
}

#find_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid gray; */
    background-color: #FF5400;

}

/* chooser our destination */
#chooseDestination {
    margin-top: 100px;
}

#chooseDestination .header {
    padding: 0px 263px;
    text-align: center;
}


.image_container {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}

.image_container>div {
    position: relative;
}

.image_container>div p {
    position: absolute;
    text-align: center;
    /* border: 1px solid green; */
    width: 100%;
    font-weight: 800;
    font-size: 2rem;
    margin-top: 40%;
    color: #fff;

}



.image_container .maldives {
    grid-column: 1 /span 6;
    /* border: 1px solid red; */
}

.image_container .indonisia {
    grid-column: 7/span 6;
    /* border: 1px solid red; */
}

.image_container .srilanka {
    grid-column: 1 /span 3;
}

.image_container .northAmerica {
    grid-column: 4 /span 6;
}

.image_container .kashmir {
    grid-column: 10 /span 3;
}

.image_container .bangladesh {
    grid-column: 1 /span 5;
}

.image_container .bandharban {
    grid-column: 6 /span 7;
}


.image_container>div img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    border-radius: 10px;
}

/* our popular tours style started */
#popular_tours {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-top: 100px;
}

.text_container {}

.text_container>div {
    padding-left: 20px;
}

.text_container>h1,
.text_container>p {
    text-align: justify;
    padding-bottom: 24px;
}

.populars_tour_img>img {
    width: 100%;
    height: 100%;
}

.text_container,
.populars_tour_img {
    width: calc(100% - 50px /2);
    /* border: 1px solid green; */
}

/* choose us section style */
#choose_us {
    margin-top: 100px;
}

#choose_us .section_header {
    padding: 0px 263px;
    text-align: center;

}

#choose_us .section_header>p {
    line-height: 24px;
    padding-top: 24px;
}

.card_div {
    margin-top: 48px;
    /* border: 2px solid blue; */
    display: flex;
    gap: 24px 24px;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;

}

.card_div>.card {
    padding: 32px 55px 32px 32px;
    /* border: 1px solid green; */
    width: calc((100% - 24px)/2);
    border-radius: 16px;
    /* border: 1px solid rgba(251, 181, 99, 0.20); */
    /* background: rgba(251, 181, 99, 0.05); */
}

.card_div>.card h2 {
    padding-top: 32px;
    font-size: 1.2rem;
    font-weight: 800;
    color: #131318;
}

.card_div>.card p {
    padding-top: 16px;
    line-height: 26px;
    font-size: 1rem;
}

.card_div .hotel {
    border: 1px solid rgba(251, 181, 99, 0.20);


    background: rgba(251, 181, 99, 0.05);
}

.card_div .map {
    /* border-radius: 16px; */
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card_div .price {
    /* border-radius: 16px; */
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}


/* meet our team */
#meetOurTeam {
    margin-top: 100px;
}

.teamMember {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.teamMember>div {
    box-shadow: #6d6d74 10px 10px 20px;
    padding: 10px;
    border-radius: 10px;
}

.teamMember>div img {
    width: 100%;
}

.team_text {
    text-align: center;
    padding-bottom: 20px;
}

.team_text h2 {
    padding: 10px 0px;
}

.social_icon {
    z-index: 1;
    margin-top: -25px;
}

.social_icon i {
    font-size: 24px;
    margin-right: 5px;
    background-color: #FF5400;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    /* z-index: 1; */

}

/* simple perfect place */
#simple_perfect_place {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    margin-top: 124px;
}

#simple_perfect_place .place_text,
#simple_perfect_place .vedio_div {
    width: 50%;
    /* border: 1px solid red; */
    height: 424px;

}

#simple_perfect_place .place_text>p {
    padding-top: 24px;
}

#simple_perfect_place .place_text>ul {
    padding-left: 20px;
    padding: 20px 0px 20px 20px;
}

#simple_perfect_place .vedio_div>iframe {
    border-radius: 10px;
}

#simple_perfect_place .place_text>ul li {
    padding-bottom: 10px;
}

/* #simple_perfect_place:where(.place_text, .vedio_div) {
    border: 1px solid red
} */

/* newsletter section style  */
#newsletter {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 100px;
}

.signUP {
    border: 1px solid #FF5400;
    padding: 40px;
    border-radius: 16px;
}

.signUP>div {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.signUP div>input {
    width: 100%;
    padding: 16px;
    /* height: 52px; */
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

.imageDiv {
    position: relative;
}

.imageDiv>img {
    width: 100%;
    height: 100%;
}

.imageDiv>#discount_div {
    /* border-radius: 16px; */
    background: #FF5400;
    width: 45%;
    text-align: center;
    border-radius: 16px;
    padding: 20px;
    position: absolute;
    transform: rotate(-30deg);
    left: 55%;
    bottom: 15%;
}

#discount_div p {
    font-size: 1.4rem;
    color: #fff;
}

#discount_div>h3 {
    color: #FFF;
    /* font-family: Mulish; */
    font-size: 2rem;
    /* font-style: normal; */
    font-weight: 800;
    /* line-height: normal; */
}

/* footer section  */
#footer_logo {
    display: flex;
    justify-content: center;
    padding-top: 110px;
    align-items: center;
    gap: 10px;
}

footer {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
}

footer>div {
    text-align: center;
    margin-top: 110px;
}

footer>div p {
    padding-top: 10px;
    padding-bottom: 30px;
}

footer>div hr {
    margin-top: 50px;
    width: 80%;
    margin: 0 auto;
}

.footer_icon {
    padding-bottom: 50px;
}

.copyright {
    padding: 50px 0px 110px 0px;
}